
body{
    margin: 0;
    padding: 0;
    background-color: rgb(164, 155, 155);
    color: white;
}
/* -----------Header----------- */

.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 3.5em;
}
.logo{
   padding: 10px 25px;
   font-size: 25px;
}
.btn-header{
    background-color: rgb(111, 183, 111);
    color: white;
    font-size: 15px;
    padding: 8px 14px;
    margin: 10px 25px; 
    border-radius: 10px;
}
/* --------------NavBar------------ */

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* background-color: papayawhip; */
}
nav-item{
    margin-left: 50px;
}
h1{
    font-size: 35px;

}
.menu ul{
display: flex;
list-style: none;
}
.menu ul li{
    padding: 2em;
}

/* --------Container----------- */

/* ------------Section-1----------- */
.container{
    height: 100vh;
}
.section-1{
    margin: 50px 50px;
}

.grid{
    display: grid;
   margin:125px 95px;
    gap: 1em;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-areas: 
    "item1 item2 item4" 
    "item1 item3 item5";
    }
.item{
    background-color: rgb(68, 156, 232);
    display: flex;
    align-items: flex-end;
    padding: 2em;
    border-radius: 25px;

}
.item:nth-child(1){
    grid-area: item1;
    background-color: greenyellow;
    height: 30em;
}
.item:nth-child(2){
    grid-area: item2;
    background-color: blue;
}
.item:nth-child(3){
    grid-area: item3;
    background-color: paleturquoise;  
}
.item:nth-child(4){
    grid-area: item4;
    background-color: olivedrab;  
}
.item:nth-child(5){
    grid-area: item5;
    background-color: purple;  
}

.box p{
    /* transform: rotate(-45deg); */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
    font-style: italic;
    font-weight: bold;
}

/* ----------Section-2--------- */

.section-2{
    margin:1.5em 12em;
    background-color: rgb(228, 223, 233);
    color: black;

}
.section-2-grid{
    display: grid;
   margin:125px 95px;
    gap: 1em;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-areas: 
    "item1 item1 item1"
    "item2 item2 item2"
    "item3 item3 item3"
    "item4 item4 item4"
    "item5 item5 item5"
    ;

}
.section-2-grid-item{
    background-color: rgb(68, 156, 232);
    display: flex;
    align-items: flex-end;
    padding: 2em;
    border-radius: 25px;
}
.section-2-item:nth-child(1){
    grid-area: item1;
    background-color: greenyellow;
    height: 30em;
}
.section-2-item:nth-child(2){
    grid-area: item2;
    background-color: blue;
}
.section-2-item:nth-child(3){
    grid-area: item3;
    background-color: paleturquoise;  
}
.section-2-item:nth-child(4){
    grid-area: item4;
    background-color: olivedrab;  
}
.section-2-item:nth-child(5){
    grid-area: item5;
    background-color: purple;  
}
.section-2-box{

}
