@use "../styles/variables/colors" as color;
@use "../styles/components/header" as header;
@use "../styles/components/main" as main;
@use "../styles/variables/fonts" as font;
@use "../styles/components/footer" as footer;
body{
    margin: 3em;
    background-color: color.$primary-color;
    @media (max-width: 1023px) {
        margin: 0px !important;
      }
}






  

